<div class="container d-flex justify-content-center align-items-center flex-column">
  <div class="container-btn">
    <%= link_to 'Adicionar um restaurante', new_restaurant_path, class: "btn btn-primary my-3" %>
  </div>
  <div class="container-links d-flex flex-wrap">
    <% @restaurants.each do |restaurant| %>
      <div class="container-p mr-3"><p><%= link_to restaurant.name, restaurant_path(restaurant) %> | <%= restaurant.phone_number %></p></div>
    <% end %>
  </div>
</div>